#products {
  width: 100%;
  margin: 0px 20px;
}

:root{
  --left: 290px;
  --left2: 190px;
  --rock: 250px;
}

.container {
  background: url("/images/icemountain3.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  margin: 2rem;
  margin-bottom: 0;
  margin-top: 3rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.product-data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 0;
  height: 400px;
  width: 100%;
}

.product-card {
  --bkblr: 5px;
  background: rgba(56, 56, 56, 0.4);
  -webkit-backdrop-filter: blur(var(--bkblr));
  backdrop-filter: blur(var(--bkblr));
  border-radius: 15px;
  padding: 20px;
  width: 20rem;
  text-align: left;
  box-shadow: 0 5px 15px rgba(255, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.5);
}

.product-icon {
  width: 100px;
  height: 100px;
  background: url('/images/coca-cola-logo-svgrepo-com.png') no-repeat center;
  background-size: contain;
  margin: 0 auto;
  animation: float 2s infinite alternate linear;
}

.middle {
  --left: 210px;
  --left2: -40px;
  --rock: 220px;
  --rock-bottom: -55px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  position: relative;
}

#mid {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  min-width: 300px;
  height: 300px;
  /* border: 2px solid orange; */
  position: relative;

}

#mid:hover, .middle:hover {
  --left: 290px;
  --left2: 150px;
  /* --rock: 200px; */
  --rock-bottom: -80px;
}

#mid-rock {
  transition: 1s cubic-bezier(0.215, 0.610, 0.355, 1);
  width: var(--rock);
  justify-self: flex-end;
  position: absolute;
  bottom: var(--rock-bottom);
  z-index: 0;
}


#can-box {
  top: 3rem;
  height: 220px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 2px solid black; */
  object-fit: contain;
  transition: 1s;
  padding-bottom: 20px;
  position: absolute;
  z-index: 3;
}

.can-cover {
  background: url(--url) var(--left) 0px, url("/CocaCola-Reimagined/images/close-up-metallic-tin-can-removebg-preview.png");
  background-size: auto 100%;
  /* opacity: .5; */
  width: 300px;
  aspect-ratio: 2/4.1;
  background-blend-mode: multiply;
  -webkit-mask-image: url("/images/close-up-metallic-tin-can-removebg-preview.png");
  mask-image: url("/CocaCola-Reimagined/images/close-up-metallic-tin-can-removebg-preview.png");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  transition: 1s;
}

#can-box:hover {
  --left: -80px;
  --left2: -70px;
  top: -1rem;
  transform: rotate(-15deg);
}

.navigate {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrow {
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.932);
  padding: 15px 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  filter: invert()
}


.left-arrow {
  rotate: 180deg;
}

button>a:hover {
  color: inherit;
}

.barcode {
  filter: invert();
}

b {
  color: red;
}

@keyframes float {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }

}

@media (max-width: 768px) {
  .product-data {
    flex-direction: column;
    gap: 20px;
  }
}