  #welcome {
    background-color: black;
    box-shadow: 5px 5px 10px rgb(10, 10, 10);
    color: white;
    min-height: 75vh;
    max-height: 90vh;
    width: 95%;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    position: relative;
  }

  h1 {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    word-spacing: 5px;
    font-style: normal;
    font-size: 3rem !important;
  }

  .welcome-bg-video {
    filter: brightness(.5);
    filter: contrast(2.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    z-index: 0;

  }

  .welcome-content {
    --bkBlr: 7px;
    background: linear-gradient(rgba(255, 12, 12, 0.4), rgba(10, 10, 10, 0.6));
    box-shadow: 5px 5px 10px black;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.705);
    padding: 3rem;
    -webkit-backdrop-filter: blur(var(--bkBlr));
    backdrop-filter: blur(var(--bkBlr));
    animation: fadeIn 1.5s ease-in-out, float .5s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }

  .sub-content {
    animation: float 2s infinite alternate ease-in-out;
  }

  .welcome-text {
    opacity: 0;
    animation: textFade 2s ease-in-out forwards;
  }

  .txt-l {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5px;
  }

  /* Smooth Fade-in Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes textFade {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }